@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #161616;
}
section .aylana{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #e51e2a;
	clip-path: circle(70% at right -35%);
}
header{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	padding: 1px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo{
	position: relative;
	max-width: 150px;
}
header .navigatsiya{
	position: relative;
	display: flex;
}
header .navigatsiya li{
	list-style: none;
}
header .navigatsiya li a{
	display: inline-block;
	color:#fff;
	font-weight: 500;
	text-decoration: none;
	margin-left: 40px;
}
.asosiyText{
	top: -70px;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.asosiyText .textBox{
	position: relative;
	max-width: 600px;
	margin-right: 20px;
}
.asosiyText .textBox h2{
	color: #fff;
	font-size: 3em;
	margin-bottom: 10px;
	line-height: 1.4em;
	font-weight: 700;
}
.asosiyText .textBox p{
	color: #fff;
}
.asosiyText .textBox a{
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #e51e2a;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}
.link{
	position: absolute;
	bottom: 230px;
	left: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.link li {
	list-style: none;
}
.link li a{
	display: inline-block;
	margin-left: 15px;
	background: #222;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}
.link li a:hover{
	background: #e51e2a;
	transform: translateY(-10px);
}
.link li img{
	filter: invert(1);
	transform: scale(0.5);
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.asosiyText .imgBox{
	width: 500px;
	display: flex;
	justify-content: flex-end;
}
.asosiyText .imgBox img{
	max-width: 350px;
	padding-left: 20px;
}
.swiper-slide img{
	position: absolute;
	bottom: 0;
	max-height: 100%;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
	background-image: none;
}
.qora{
	padding-left: 50px;
	padding-right: 50px;
}
.qor{
	padding-right: 70px;
	padding-left: 90px;
}